/**Quando eu quero estilizar um elemenot pelo nome eu simplesmente coloco o nome do elemento igual realizamos abaixo, estilizando a cor de fundo da tela nosso elemento body**/
body {
    /*Definir a cor de fundo de um elemento, no nosso caso é a cor de fundo na tela*/
    background-color: bisque;
}
/*estulizando a tag menu*/
menu {  
    background-color: indigo;
    width: 100%;
    height: 75px;
    padding: 0;/*Adiciona espaço ao redor do conteúdo do menu*/
    text-align: center;
    display: flex;/*Usar um layout flexível para alinhar os ementos*/
    justify-content: center;/*Alinhar os elementos horizontalmente*/
    gap: 60px;/*Define a distancia entre os elementos*/
    margin: 0;
    position: relative;
    color:black;
    border-radius: 8px;
    margin: 8px 40px;
    z-index: 1000;
    left: 0px;
    right: 0px;
    top: 0px;

}

.fixed {
    
    position: fixed;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    top: 0px;
    left: 0;
    right: 0;
    

}
   
.menu-items{
    /*alterações da aula 26/10*/
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
    margin-top: 0;
}

#titulo1{
    margin-top: 5%;
    margin-left: 2%;

}
/*Estilizando o elemento pelo classe com o caracter  . antes da classe*/

.menu-itens{color:black; /*Define a cor do texto*/
    text-decoration: none; /*Retira o traço de link da palavra*/
    padding: 15px;
    font-size: 18px; /*Define o tamanho do texto*/
    display: flex;
    background-size: 10% inline-block;/*Deixa o item com o bloco de uma 
    linha */
}
/*Hover é um evento de mouse que ocorre uma ação toda vez que colocamos o mouse em cima do elemento. Abaixo aplicamos um evento de mouse no nosso menu*/
.menu-itens:hover{
    /*Quando colocarmos o mouse sob o elemento iremos:*/
    background-color: #d0dbf8;/*Trocar a cor de fundo*/
    color: #260d61;/*A cor do texto*/
    width: 220px;/*Ajustaremos larguda do elemento*/
    padding: 15px 25px;/*A distancia do conteúdo*/
    border-radius: 8px;/*Arredondar as bordas de um elemento*/
    display:flex;
}


#carrosselCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

.menu:hover{

}

.caixa1{
    height: 100;
    padding: 15px;
    background-color: #abbff5;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.carousel-inner {
    position: relative; /*Ao mover o elemento, ele não interfere nos outros elementos ao seu redor*/
}

.carousel-control-prev, .carousel-control-next {
    position: absolute; /*Posiciona um elemento em relação ao elemento pai mais próx.*/
    top: 50%; /*Posiciona a 50% da altura do elemento filho*/
    transform: translateY(-50%);/*Move o elemento ao longo do eixo vertical Y*/
    width: 5%; /*Ajuste da largura das setas*/
    z-index: 1; /*Garante que fiquem sobre a imagem*/
    background-color: rgba(0,0,0,0.5); /*Um fundo semitransparente*/
}

section{
    /*Estilizando a fonte do texto que está dentro da section*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*O design abaixo refere=se à estilização da tab ela, porém devido as estilizações de seus elemttos thead e tbody ela acabou ficando obsoleta, não aparece na página*/
}

table{
    border: 1px dashed; /*Cria uma borde de 1px de altura e dashed é a borda do tipo partilhada*/
    border-color: #d0dbf8/*Aplica uma cor à borda*/
}

thead{ /*Estilização do cabeçalho - 1° linha da tabela*/
    background-color:aqua;
    color:beige;/*Cor do texto*/
    height: 15px;/*Altura da 1° linha*/
}

th{/*Estiliza cada célula do cabeçalho*/
    width: 150px; /*largura da célula*/
    text-align: center;/*alinhamento horizontal do texto*/
    align-items: center; /*cor da borda*/
    border:#260d61 solid;
}

tbody{/*Estiliza o corpor dda tabela - todas as linhas exceto a primeira*/
    background-color:blanchedalmond;/*cor de fundo*/

}

td{/*estiliza cada célula do corpo da tabela*/
    text-align :center;
    border :1px solid;

}

#telaInicial{
    margin-bottom: 0;
}

footer{
    background-color: #260D61;
    height: 50px;
    color:aliceblue;
    justify-items: center;
    padding-top: -1%;
    margin-bottom: 0%;
}

.imagemfeia{
    height: 10px;
}